.env

assets/images/school/*
assets/images/company/*
assets/images/language/*
assets/images/skill/*
assets/images/user/attachment/*
assets/images/project/platform/*
assets/images/project/showcase/*
assets/images/project/showcase_attachment/*
assets/images/project/service/*
assets/images/project/service_attachment/*
